@main("Atm"){


<h2>Select:</h2>



<p class="buttons">

    <a href="@routes.Application.showAddCustomerForm" style="text-decoration:none">
    <input type="submit" id="goToAddCustomer" value="Add a customer"></a>

    <a href="@routes.Application.showWithdrawForm" style="text-decoration:none">
    <input type="submit" id="goToWithdraw" value="Withdraw"></a>

    <a href="@routes.Application.showDepositForm" style="text-decoration:none">
    <input type="submit" id="goToDeposit" value="Deposit"></a>
</p>

}