@(withdrawForm: Form[(Long, Long)])

@import helper._

@main(title = "The 'atm' application") {

@form(action = routes.Application.sayHello, args = 'id -> "withdrawform") {

    @inputText(
        field = withdrawForm("id"),
        args = '_label -> "What is the id of the customer?", 'size -> 3, 'placeholder -> 4
    )

    @inputText(
        field = withdrawForm("amountToWithdraw"),
        args = '_label -> "How much do you wish to withdraw?", 'size -> 6, 'placeholder -> 10
    )

    <p class="buttons">
         <input type="submit" id="withdraw" value="Withdraw">
    <p>

}

}




